body {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: white;
    background-image: url('https://img.freepik.com/fotos-premium/workout-gym-fitnessgeraete-hintergrund-mit-kopierraum-fuer-text_916191-122253.jpg');
    background-size: cover;

}

div {

    position: relative;
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    border: 5px solid #8fbc8f;
    border-radius: 5px;
    background-color: black;
    align-items: center;
}

input, button {
    display: block;
    margin-bottom: 10px;
    background-color: white;
}

button {
    cursor: pointer;
    background-color: white;
    border: 3px solid black;
}
